/*  Overall / Body */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;

}

a:active, a:focus, a:visited{
    border: none;
    outline: none;
    text-decoration: none;
}

/* Header */

#header{
    /* border-bottom: 2px solid orchid;     */
    position: fixed;
    z-index: 64;
    font-size: 14px;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255);
}

/* Navbar */

#navbar  {
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;

}

#navbar li {
    list-style: none;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
}

#navbar a{
    text-decoration: none;
    color: rgb(0, 180, 120);
    border-radius: 0px;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 17px;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    padding: 3px 10px;
}

#navbar .left-icon a:hover{
  box-shadow: inset 400px 0 0 0 #D80286;

}

 #navbar a:hover{
  box-shadow: inset 0 -100px 0 0 #D80286;

}

#navbar .right-icon a:hover{
  box-shadow: inset -400px 0 0 0 #D80286;
}

a.current {
  border-bottom: 2px solid #D80286;
}

ul{
    padding-left: 0;
    margin: 5px 0px;
}

@media (max-width: 556px) {
    #navbar li, #navbar a, #navbar i {
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
    }
    
}


/* Icon Left & Right */

.left-icon, .right-icon, #left-icon ,#right-icon {
    margin-top: 5px;
    margin-bottom: 5px; 
    font-size: 15px;
    border: none;
    padding: 0;
}

.left-icon a, .right-icon a {
    text-decoration: none;
    color: black;
}

.left-icon a {
  border-left: 2px solid #D80286;
}

.right-icon a {
  border-right: 2px solid #D80286;
}

#left-icon h3, #right-icon h3 {
    margin: 5px;
    font-size: 20px;
}

/* Drawer for menu icons */

.drawer {
    display: none;
}

.drawer__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.drawer__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23000000'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
}

.drawer--left .drawer__wrapper {
    left: 0;
    right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}  

.drawer__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    z-index: 9999;
    overflow: auto;
    transition: transform 0.3s;
    will-change: transform;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(103%);
    transform: translateX(103%); /* extra 3% because of box-shadow */
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    box-shadow: 0 2px 6px #777;
}

.drawer__content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    flex-grow: 1;
    padding: 20px;
    padding-top: 0px;
}

.drawer__content h2 {
    text-align: center;
    
}

.drawer__content h3{
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

#drawer-name-left .drawer__content button{
    transition: 0.3s linear;
    width: 30px;
    font-size: 17px;
    border-radius: 55%;
}

#drawer-name-left .drawer__content button:hover{
    color: lawngreen;
    background-color: lightcoral;
    border-radius: 0%;
    transform: rotate(180deg);
}

.drawer__content p {
    display: flex;
    border-bottom: 4px solid rgb(172, 172, 172);
}

.drawer__content img {
    display: inline-block;
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin: 0;
    padding-right: 5px;
    transition: 0.5s linear;
}

.drawer__content img:hover{
    transform: scale(0.98);
    border-radius: 10%;

}
  
.drawer.is-active {
    display: block;
}
  
.drawer.is-visible .drawer__wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
  
.drawer.is-visible .drawer__overlay {
    opacity: 0.5;
}

.drawer__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
    background-color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#drawer__title-quote{
    font-family: cursive;
}

/* Banner */

#banner{
    background: url(../Images/person-holding-stainless-steel-bowl-with-vegetable-salad-4252141.jpg) no-repeat center center;
    /* border-bottom: 2px solid orchid; */
    margin-bottom: 30px;
    margin-top: 50px;
    background-size: cover;
}

#banner .row {
    height: 900px;
    object-fit: cover;
}

#banner .banner_text{
    background: rgba(75, 75, 75, 0.678);
    border-radius: 90px;
    color:ivory;
}

.banner_text p{
    font-size: 20px;
    margin: 15px;
}

#banner_text{
    font-size: 30px;
    margin: 0;
}

@media (max-width: 400px){
    #banner_text{
        font-size: 27px;
    }
}


#banner_text img{
    height: 150px;
    width: 150px;
}

/* About Page */

#about {
    display: block;
    margin-top: 40px;
}

/* Carousel */

    /* Slider Design */

    .slider {
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      /* border-bottom: 3px solid orchid; */
      height: 700px;

    }
    .slider .slider-item {
      display: block;
      max-height: 100vh;
      overflow: hidden;
      background: #000000;
      position: absolute;
      left: -100%;
      width: 100%;
      opacity: 0;
      transition: 1s left ease, 1s opacity ease;
      transition: 1s left ease, 1s opacity ease;
      height: 700px;

    }
    .slider .slider-item.close {
      opacity: 0;
      left: 100%;
      height: 700px;
    }
    .slider .slider-item.show {
      z-index: 10;
      opacity: 1;
      left: 0;

    }
    .slider .background {
      display: block;
      width: 100%;
      height: 700px;

    }
    .slider .slider-item > img {
      display: block;
      width: 100%;
      object-fit: cover;
      height: 700px;


    }
    .slider .switch {
      z-index: 11;
      display: block;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, 0);

    }
    .slider .switch i {
      float: left;
      content: " ";
      display: block;
      width: 1.5rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      box-shadow: 0 0.125rem 0.125rem rgba(40, 40, 40, 0.4);
      background: rgba(255, 255, 255, 0.322);
      margin: 0.125rem;
      transition: 1.0s all;
      
    }
    .slider .switch i.active {
      background: rgba(255, 255, 255, 0.726);
    }
    .slider .prev,
    .slider .next {
      z-index: 11;
      position: absolute;
      top: calc(50% - 1.4rem);
      height: 1.4rem;
      width: 1.4rem;
      padding: 1.5rem;
      border: none;
      border-radius: 50%;
      background: rgba(17, 17, 17, 0.333);
      transition: 0.4s all;
      opacity: 0.7;
    }
    .slider .prev svg,
    .slider .next svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1rem;
      height: 1rem;
      fill: rgba(255, 255, 255, 0.8);
      transition: 0.3s all;
    }
    .slider .prev {
      left: 3%;
      transform: rotate(180deg);
    }
    .slider .next {
      right: 3%;
    }
    .slider .prev:hover,
    .slider .next:hover {
      background: rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
    .slider .prev:hover svg,
    .slider .next:hover svg {
      fill: rgba(255, 255, 255, 1);
    }

    /* Responsive Slider Styles */
    @media (max-width: 600px) {
      .slider .prev,
      .slider .next {
        padding: 1rem;
      }
    }

/* Section 1 */

#portfolio {
    background: powderblue;
    border-bottom: 2px solid orchid;
    border-top: 2px solid orchid;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}



#portfolio img{
    max-width: 100%;
    height: 100%;
    /* background: url(../Images/pexels-photo-2159115.jpeg); */
    display: block;
    margin: auto;
    object-fit: contain;
    border-radius: 25%;
    height: 400px;
    width: 400px
}

#portfolio .section-1at, #portfolio .section-1bt{
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 45px;

}

#portfolio .section-1bt p, #portfolio .section-1at p{
    text-align: left;
    
}

.flip-container {
    background-color: transparent;
    perspective: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    transition: 1s;
}

.flip-inner {
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
    text-align: center;
    background: url(../Images/pexels-photo-2159115.jpeg);
    background-position: center;
    width: 400px;
    height: 400px;
    display: block;
    margin: auto; 
    border-radius: 25%;
}



.flip-front{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 300px;
}

.flip {
  transform: rotateY(180deg);
  position: relative;
  transform-style: preserve-3d;
  text-align: center;
  background-position: center;
  width: 400px;
  height: 400px;
  display: block;
  border-radius: 25%;
  background-color: transparent;
  perspective: 1000px;
  margin: auto;

}

@media (max-width: 985px) {
    .flip-inner, #portfolio img, .flip, .flip-container, .flip-front {
        height: 300px;
        width: 300px;
    }
}

/* Section 2 */

#people {
    background: powderblue;
    border-bottom: 2px solid orchid;
    border-top: 2px solid orchid;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5em;
}

#people img{
    border-radius: 50%;
    width: 370px;
}

#staff-info{
    text-align: left;
    padding-left: 20px;
    width: 350px;
}

#staff-info ul{
  padding-left: 15px;
  list-style: none;
}

#staff-info h4{
    margin-bottom: 5px;
}

.testi-slider {
    width: 100%;
    height: 90px;
  }
  
  .slide {
    height: 100px;
    width: 380px;
    margin: 10px auto 0;
    overflow: visible;
    position: relative;
  }
  
  .mask {
    height: 100px;
  }
  
  .slide ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .slide li {
    width: 380px;
    height: 120px;
    position: absolute;
    top: -325px;
    list-style: none;
  }

  @media (max-width: 400px) {
      .slide li {
          width: 330px;
      }
  }
  
  .slide .quote {
    font-size: 15px;
    font-style: italic;
  }
  
  .slide .source {
    font-size: 15px;
    text-align: right;
  }
  
  .slide li.testi1 {
    animation: cycle 30s linear infinite;
  }
  
  .slide li.testi2 {
    animation: cycle2 30s linear infinite;
  }
  
  .slide li.testi3 {
    animation: cycle3 30s linear infinite;
  }
  
  .slide li.testi4 {
    animation: cycle4 30s linear infinite;
  }
  
  .slide li.testi5 {
    animation: cycle5 30s linear infinite;
  }
  
  .slide:hover li {
    animation-play-state: paused;
  }
  
  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: 50px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -50px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -50px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -50px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      top: -50px;
      opacity: 0;
    }
    16% {
      top: -50px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 50px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -50px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -50px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
      top: -50px;
      opacity: 0;
    }
    36% {
      top: -50px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 50px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -50px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -50px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
      top: -50px;
      opacity: 0;
    }
    56% {
      top: -50px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 50px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -50px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -50px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle5 {
    0% {
      top: -50px;
      opacity: 0;
    }
    76% {
      top: -50px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 50px;
      opacity: 0;
      z-index: 0;
    }
  }

/* Footer */

#footer{
    background: powderblue;
    border-bottom: 2px solid orchid;
    border-top: 2px solid orchid;
    /* padding-top: 20px; */ 
    margin-bottom: 30px;
}

#footer ul, #footer p {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

#footer a{
  text-decoration: underline;
  color: rgb(19, 94, 0);
}

#subby{
    margin: 2px;
}

#footer li{
    line-height: 2em;
}

/* Copyright */
#copyright{
    background: powderblue;
    border-top: 2px solid orchid;

}

#copyright a{
  text-decoration: none;
  color: black;
  font-size: 20px;

}

#copyright-p{
    text-decoration: underline;
}

/* Fixed Icons */

#return-top{
    display: inline;
    position: fixed;
    bottom: 20px;
    right: 20px;
    size: 50%;
    border-radius: 90%;
    background-color: rgba(255, 238, 0, 0.671);
    z-index: 90;

}

.return-top-vis{
  visibility: hidden;
}

/* Right Menu */

/* Style the tab */
.tab {
    box-sizing: border-box;
    float: right;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    background-color: #ccc;
    width: 70px;
    height: 100%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(255, 255, 255);
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: rgb(255, 255, 255);
    border-left: none;
  }
  
  /* Style the tab content */
  .tabcontent {
    box-sizing: border-box;
    float: left;
    padding: 0px;
    border-right: none;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
  }

  .tabcontent p{
    border-bottom: none; 
  }

/* Right Drawer Home Overview */


  
  .home-container h2 {
    font-size: 30px;
    font-weight: 300;
    /* margin: 10px; */
    color: #333;  
  }
  
  .home-container h2 span {
    font-size: 30px;

  }
  
  .home-container p {
    font-size: 18px;
    color: #333;;
    padding: 5px;
  }

  .home-container .bg2 p, .home-container .bg2 h2 {
    color: rgb(0, 0, 0);
  }

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 370px;
}

@media (max-width: 375px) {
  .home-container{
    width: 290px;
  }
}

.home-container > div {
  cursor: pointer;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  transition: all 0.5s ease-in;
}

.home-container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
  background-color: rgb(151, 151, 151);
}

.bg1 h2, .bg2 h2 {
   padding: 0;
    margin: 10px;
}

.bg2 p, .bg1 p {

    margin: 0;
}

#left-border{
    border-left: 1px solid grey;
}

.home-container > div:nth-of-type(1) {
  grid-column: 3 / 1 ;
}

.home-container > div:nth-of-type(4) {
    grid-column: 3 / 1 ;
  }

.home-container > div:nth-of-type(7) {
    grid-column: 3 / 1 ;
}