#recipeImgIng {
    margin-top: 56px;
    box-sizing: border-box;
    border-bottom: 3px solid pink;
    background-color: mediumturquoise;
    padding-bottom: 30px;
}

#recipe-img{
    text-align: center;
}

#recipe-img > img {
    display: block;

}



#ingredients {
    text-align: left;
}

#ing__title{
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

#ingredients > label {
    padding-left: 2em;
    text-align: left;
    display: block;
    margin: 10px;
}