/* Style tab links */

#serviceLinks{
    margin-top: 56px;
    box-sizing: border-box;
    height: 900px;
}

.tabBar {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    
    /* With 4 tabs */
    /* width: 25%;  */

    /*  */
    width: 33.33%;
    display: block;
  }
  
  .tabBar:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .serviceContent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 700px;
    
  }
  
  #Private {background-color: rgb(255, 101, 101);}
  #Direct {background-color: rgb(63, 170, 63);}
  /* #Direct {background: url(Images/board-bunch-cooking-food-349609.jpg);} */
  #Contact {background-color: rgb(97, 97, 253);}
  #Quote {background-color: rgb(255, 197, 88);}

@media (max-width: 783px){
    #serviceLinks{
        margin-top: 47px;
    }
}

@media (min-width: 786px){
    #serviceLinks{
        margin-top: 47px;
    }
}

@media (max-width: 783px){
    .tabBar{
        font-size: 13px;
    }
}

.serviceContainer{
    display: block;
    text-align: center;
    background: wheat;
    color: black;
    line-height: 150%;
    padding: 10px;
    padding-bottom: 20px;
    width: 900px;
    margin: auto;
    border-radius: 1.5em;
}

.serviceContainer > h3 {
  padding-left: 50px;
  padding-right: 50px;
}

/* Private Chef Tab */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Private Call */

/* Contact */

/* Special Quote */